{% set page.title = "Journal" %}
{% set page.nav = "journal" %}
{% extends 'default.html' %}
{% block content %}
  <header>
    <h1>{{ page.title }}</h1>
    {% include "./partials/journal-pager.html" %}
  </header>
<div class="row">
  <section id="articles" class="col-md-9">
{% for post in page.posts %}
    {% include "./partials/post-summary.html" %}
{% endfor %}
  </section>
   <section id="right-col" class="col-md-3">
     {% include "./partials/about-side.html" %}
     {% include "./partials/tag-list.html" %}
  </section>
</div>
  <footer>
    {% include "./partials/journal-pager.html" %}
  </footer>
{% endblock %}